.header-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  
.blog-post-section {
  padding: 3rem 1.5rem;
  text-align: left;
}

#enable {
  background-color:white;
  border-color:white;
  color:white;
}